body, html {
    /* font-family: muda a fonte */
    font-family: sans-serif;
    height: 100%;
    margin: 0;   
}

.menu_lateral {
    height: 100%;
    width: 20%;
    background-color: #b6bebe;
    /* deixa o menu lateral alinhado à esquerda da pág */
    float: left;
    position: fixed;
    top: 0;
    bottom: 0;
}

.menu_lateral li a {
    text-decoration: none;
    color: white;
}

/*hover: musa a cor da fonte ao passar o mouse*/
.menu_lateral li a:hover {
    text-decoration: none;
    color: rgb(30, 125, 75);
    /* text-shadow: texto de sombra */
    text-shadow: 1px 2px 2px #ccc;
}

.menu_lateral li {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.bem_vindo {
    width: 79%;
    height: 100%;
    background-color: rgb(12, 116, 153);
    position: relative;
    display: flex;
    float: right;
    top: 0;
    bottom: 0;
    /* margem interna: separa as bordas */
    padding-left: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bem_vindo h1, 
.bem_vindo p {
    text-align: center;
}